@page {
  size: 1350px 1350px;
  margin: 75px 75px 75px 75px;
  background-color: white;
}


@page FrontPage {
  @top-right {
    content: element(logoRunning);
  }
}


@page NumberedPage {
  @bottom-left {
    content: element(titleRunning);
  }

  @top-right {
    content: element(logoRunning);
  }

  @bottom-right {
    content: element(pageNumberRunning);
  }
}



.FrontPage {
  page: FrontPage;
}

.NumberedPage {
  page: NumberedPage;
}

h2 {
  break-before: page;
}

.LogoToRemoveFromFlow {
  position: running(logoRunning);
}

.PageNumberToRemoveFromFlow {
  position: running(pageNumberRunning);
}

.TitleToRemoveFromFlow {
  position: running(titleRunning);
}