@media print {
  #root {
    display: none;
  }

  #preview {
    display: block;
  }
}


@media screen {
  #preview {
    position: absolute;
    top: 50px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}